$color1: rgb(49, 196, 191);
$color2: rgb(121, 111, 191);
$darkColor2: darken($color2, 10%);
$gradient: linear-gradient(rgb(121, 111, 191), rgb(49, 196, 191));
$padding: 100px;
$paddingHover: 70px;

// Bootstrap colors

$brand-succes: purple;
