* {
  box-sizing: border-box;
  border: 1px dashed grey;
}

/*This is section for generic settings*/
body, html {
  color: #083451;
}

header {
  background: url("http://unsplash.it/1000?image=930") no-repeat center center;
  background-size: cover;
}

main {
  padding-bottom: 1.5vw;
  padding-top: 1.5vw;
}

.hr-sec-bg-op {
  background: rgba(21, 113, 186, 0.65);
}

.smallLogo {
  width: 3vw;
}

.hr-sec-intro {
  padding-top: 6vw;
  padding-bottom: 6vw;
}

.hr-sec-intro h1 {
  font-size: 7vw;
  margin-bottom: 0;
}

.hr-sec-intro h6 {
  margin-top: 0;
}

.hr-sec-intro > h1 {
  color: #fff;
  text-shadow: 1px 1px 1px #fff;
  font-weight: 300;
}

.paddingPara {
  padding: 1.5vw;
}

.mn-sec-btn-l {
  background-color: #5E686F;
  color: #fff;
}

.mn-sec-l-ft-txt {
  background-color: #A3B3BF;
  color: #fff;
}

.mn-sec-btn-lb {
  background-color: #083451;
  color: #fff;
}

.mn-sec-l-ft-txtb {
  background-color: #106DB3;
  color: #fff;
}

.mdLogo {
  width: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: .8;
}

.mn-sec-r-hr {
  margin-top: 20px;
  padding-bottom: 5px;
}

.mn-sec-r-hr h5, .mn-sec-r-hr ul, .mn-sec-r-hr h4 {
  margin-bottom: 0;
}

.mn-sec-r-hr h4 {
  margin-top: 20px;
}

.mn-sec-r-hr h5 {
  margin-top: 2px;
}

.mn-sec-r-hr h6 {
  margin: 0 auto;
}

.mn-sec-r-bd img {
  width: 80%;
  margin-top: 10px;
}

.mn-sec-r-bd-txt {
  margin-top: 2.5px;
  padding-right: 10%;
}

.mn-sec-r-bd-th {
  border-right: thin solid #D7D7D7;
}

.mn-sec-r-bd > p {
  padding: 0px;
}

.mn-sec-r-bd-p {
  color: #A8B7C2;
}

.mn-sec-r-bd-p a {
  text-decoration: none;
}

.imOpacity {
  opacity: .5;
}

.mn-sec-btm {
  border-top: thin solid #D7D7D7;
}

.ft-mn {
  background-color: #083451;
}

.ft-img-1 {
  background: url("http://unsplash.it/200?image=170") no-repeat center center;
  background-size: cover;
}

.ft-img-2 {
  background: url("http://unsplash.it/200?image=169") no-repeat center center;
  background-size: cover;
}

.ft-img-3 {
  background: url("http://unsplash.it/200?image=168") no-repeat center center;
  background-size: cover;
}

.ft-img-4 {
  background: url("http://unsplash.it/200?image=167") no-repeat center center;
  background-size: cover;
}

.ft-img-4, .ft-img-3, .ft-img-2, .ft-img-1 {
  height: 30vh;
  flex: 1;
  display: flex;
  align-items: flex-end;
  opacity: .80;
  transition: all 1.3s ease;
}

.ft-img-4:hover, .ft-img-3:hover, .ft-img-2:hover, .ft-img-1:hover {
  color: #fff;
  opacity: 1;
}

.ft-mn-sec {
  display: flex;
  flex-direction: column;
  color: #083451;
  opacity: .90;
  background: rgba(21, 113, 186, 0.95);
}

.ft-nav {
  background-color: #083451;
  color: #A3B3BF;
}

.ft-border {
  border-right: medium solid #D7D7D7;
}

@media screen and (min-width: 768px) {
  .ft-mn-sec {
    flex-direction: row;
  }
  .ft-nav-l {
    text-align: left;
  }
  .ft-nav-r {
    text-align: right;
  }
  .nav-logo-l {
    text-align: left;
  }
  .nav-r {
    text-align: right;
  }
}
